/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


 h5 {
  font-size: 2rem;
  line-height: 150%

}

a {
  color: inherit;
  text-decoration: underline;
}


 .blue {
  background-color: #1417e4 !important;
}

.blue-text {
  color: #1417e4 !important;
}

 
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.top-header {
  margin-top: 0px;
}


.superscript {
  vertical-align: super;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}
.blinking{
    animation:blinkingText 2s infinite;
    color: #fff;
}
@keyframes blinkingText{
    0%{     color: #ffffff ;    }
    25%{    color: transparent; }
    
    75%{   color: #ffffff;    }
}



.smaller-70-rem{
  font-size: 0.7rem;
  
}

.backgr {
  background-image: url("https://camo.githubusercontent.com/f9299ddea4fba52bcd798c57ebcb752cd9797837/68747470733a2f2f6564756c6162732e64652f6173736574732f696d672f7374617469632f7371756172656c65742e706e67");
}

.transp {
  background-color: rgba(83, 130, 232, 0.3)
}

.logo-okf {
  height: 100px;
  display: inline-block;
  margin-bottom: 30px;
}

.logo-edl {
  height: 60px;
  margin-bottom: 20px;
  margin-left: 50px;
  display: inline-block;
  margin-bottom: 50px;
}


.deprecation-banner {
    padding: 10px 30px;
}

.deprecation-banner__content {
    border-left: 4px solid #1417e4;
    padding-left: 8px;
}
