/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


 .blue {
  background-color: #1417e4 !important;
}

.blue-text {
  color: #1417e4 !important;
}

 h5 {
   font-size: 2rem;
   line-height: 150%

 }
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.top-header {
  margin-top: 0px;
}


.superscript {
  vertical-align: super;
}

.underline {
  text-decoration: underline;
}
.blinking{
    animation:blinkingText 2s infinite;
    color: #fff;
}
@keyframes blinkingText{
    0%{     color: #ffffff ;    }
    25%{    color: transparent; }
    
    75%{   color: #ffffff;    }
}



.smaller-70-rem{
  font-size: 0.7rem;
  
}

 